@font-face {
    font-family: light;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}


:root{
    --pr:#f8f4e1;
    --sec:#381c0a;
    --tri1:#feba17;
    --tri2:#74512d;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
  color: var(--pr);
}

html, body {
  height: 100%;
  width: 100%;
}
#main{
     height: 100%;
  width: 100%;
  background: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background: var(--tri2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 17px;
    position: absolute;
}
.elem{
    background: #feba17;
    
    
    height: 400px;
    width: 278px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition:all ease 0.5s ;

}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    font-weight: 500;
    font-size: 33px;
    bottom: 2% ;
    right: 5%;
}
.elem:active{
    scale: 0.97;
}
.fullElem{
height: 100%;
  width: 100%;
  background: var(--sec);
  padding: 40px;
  font-size: 60px;
  display: none;
  position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background: red;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
   font-weight: 500;
   border: none;
   cursor: pointer;
}