@font-face {
    font-family: light;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}


:root{
    --pr:#f8f4e1;
    --sec:#381c0a;
    --tri1:#feba17;
    --tri2:#74512d;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
  color: var(--pr);
}

html, body {
  height: 100%;
  width: 100%;
}
#main{
     height: 100%;
  width: 100%;
  background: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background: var(--tri2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 17px;
    position: absolute;
}
.elem{
    background: #feba17;
    
    
    height: 400px;
    width: 278px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition:all ease 0.5s ;
     cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.2);

}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    font-weight: 500;
    font-size: 33px;
    bottom: 2% ;
    right: 5%;
   
}
.elem:active{
    scale: 0.97;
}
.fullElem{
height: 100%;
  width: 100%;
  background: var(--sec);
  padding: 40px;
  
  display: none;
  position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background: var(--tri1);
    border-radius: 10px;
    padding: 15px 22px;
    font-size: 25px;
   font-weight: 500;
   border: none;
   cursor: pointer;
}
.back:active{
    scale: 0.97;
}
.todo-list-fullpage {
    background: block;
}
.todo-list-fullpage  h2{
    font-size: 65px;
}
.todo-list-fullpage .todo-container{
width: 100%;
height: 80%;
/* background: var(--tri2); */
margin-top: 40px;
display: flex;
align-items: center;
justify-content: space-between;


}
.todo-list-fullpage .todo-container .addTask{
        width: 33%;
       background: var(--tri2);
        height: 100%;
        border-radius: 20px;
}
.todo-list-fullpage .todo-container .allTask{
 width: 65%;
        background:var(--tri2);
        height: 100%;
        border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

 .todo-container .addTask form input{
        padding: 10px 25px;
        width: 100%;
        font-size: 28px;
        background: var(--sec);
        border-radius:5px ;
        border: none;
        outline: none;
        margin-bottom: 20px;
 }
 .todo-container .addTask form textarea{
        padding: 10px 25px;
        width: 100%;
        font-size: 28px;
        background: var(--sec);
        border-radius:5px ;
        border: none;
        outline: none;
        margin-bottom: 20px;
 }

  .todo-container .addTask form button{
        padding: 10px 25px;
        width: 100%;
        font-size: 28px;
        background: var(--tri1);
        font-weight: 700;
        border-radius:5px ;
        border: none;
        outline: none;
        margin-bottom: 20px;
        transition: all ease 0.2s;
 }

   .todo-container .addTask form button:active{
    scale: 0.95s;
   }
